:root{
    --primary-color: #e50914;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif ;
    -webkit-font-smoothing: antialiased;
    background: black;
    color: #999;
}